body{
    background-color: darkblue;
    text-align: center;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    color: white ;
}

p{
    color: lightcoral;
    text-align: center;
}